services:

  # ===========================
  # API GATEWAY (NGINX)
  # ===========================
  api-gateway:
    build: ../api-gateway
    container_name: api-gateway
    ports:
      -"${API_GATEWAY_PORT}:80"
    depends_on:
      - auth-service
      - user-service
      - chat-service
      - game-service
      - rt-gateway
    env_file:
      - .env

  # ===========================
  # AUTH SERVICE
  # ===========================
  auth-service:
    build: ../auth-service
    container_name: auth-service
    ports:
      - "${AUTH_SERVICE_PORT}"
    environment:
      - DB_HOST: ${AUTH_DB_HOST}
      - DB_PORT: ${AUTH_DB_PORT}
      - DB_USER: ${AUTH_DB_USER}
      - DB_PASS: ${AUTH_DB_PASS}
      - DB_NAME: ${AUTH_DB_NAME}
    depends_on:
      - auth-db
    env_file:
      - .env

  auth-db:
    image: postgres:15
    container_name: auth-db
    environment:
      - POSTGRES_USER=${AUTH_DB_USER}
      - POSTGRES_PASSWORD=${AUTH_DB_PASS}
      - POSTGRES_DB=${AUTH_DB_NAME}
    ports:
      - "5451:5432"
    volumes:
      - auth-db-volume:/var/lib/postgresql/data

  # ===========================
  # USER SERVICE
  # ===========================
  user-service:
    build: ../user-service
    container_name: user-service
    ports:
      - "${USER_SERVICE_PORT}"
    environment:
      - DB_HOST: ${USER_DB_HOST}
      - DB_PORT: ${USER_DB_PORT}
      - DB_USER: ${USER_DB_USER}
      - DB_PASS: ${USER_DB_PASS}
      - DB_NAME: ${USER_DB_NAME}
    depends_on:
      - user-db
    env_file:
      - .env

  user-db:
    image: postgres:15
    container_name: user-db
    environment:
      - POSTGRES_USER=${USER_DB_USER}
      - POSTGRES_PASSWORD=${USER_DB_PASS}
      - POSTGRES_DB=${USER_DB_NAME}
    ports:
      - "5452:5432"
    volumes:
      - user-db-volume:/var/lib/postgresql/data

  # ===========================
  # CHAT SERVICE
  # ===========================
  chat-service:
    build: ../chat-service
    container_name: chat-service
    ports:
      - "${CHAT_SERVICE_PORT}"
    environment:
      - DB_HOST: ${CHAT_DB_HOST}
      - DB_PORT: ${CHAT_DB_PORT}
      - DB_USER: ${CHAT_DB_USER}
      - DB_PASS: ${CHAT_DB_PASS}
      - DB_NAME: ${CHAT_DB_NAME}
    depends_on:
      - chat-db
    env_file:
      - .env

  chat-db:
    image: postgres:15
    container_name: chat-db
    environment:
      - POSTGRES_USER=${CHAT_DB_USER}
      - POSTGRES_PASSWORD=${CHAT_DB_PASS}
      - POSTGRES_DB=${CHAT_DB_NAME}
    ports:
      - "5453:5432"
    volumes:
      - chat-db-volume:/var/lib/postgresql/data

  # ===========================
  # GAME SERVICE
  # ===========================
  game-service:
    build: ../game-service
    container_name: game-service
    ports:
      - "${GAME_SERVICE_PORT}"
    environment:
      - DB_HOST: ${GAME_DB_HOST}
      - DB_PORT: ${GAME_DB_PORT}
      - DB_USER: ${GAME_DB_USER}
      - DB_PASS: ${GAME_DB_PASS}
      - DB_NAME: ${GAME_DB_NAME}
    depends_on:
      - game-db
    env_file:
      - .env

  game-db:
    image: postgres:15
    container_name: game-db
    environment:
      - POSTGRES_USER=${GAME_DB_USER}
      - POSTGRES_PASSWORD=${GAME_DB_PASS}
      - POSTGRES_DB=${GAME_DB_NAME}
    ports:
      - "5454:5432"
    volumes:
      - game-db-volume:/var/lib/postgresql/data

  # ===========================
  # REAL-TIME GATEWAY
  # ===========================
  rt-gateway:
    build: ../rt-gateway
    container_name: rt-gateway
    ports:
      - "${RT_GATEWAY_PORT}"
    env_file:
      - .env

  # ===========================
  # REDIS
  # ==========================
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "${REDIS_PORT}"
    volumes:
      - redis-data:/data

volumes:
  auth-db-volume:
  user-db-volume:
  chat-db-volume:
  game-db-volume:
  redis-data: