services:
  user-db:
    image: postgres:15
    container_name: user-db
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${USER_DB_USER}
      POSTGRES_PASSWORD: ${USER_DB_PASS}
      POSTGRES_DB: ${USER_DB_NAME}
    ports:
      - "5452:5432"
    volumes:
      - user-db-volume:/var/lib/postgresql/data
      - ../databases/user-db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  user-service:
    build: .
    container_name: user-service
    ports:
      - "${USER_SERVICE_PORT}:${USER_SERVICE_PORT}"
    depends_on:
      - user-db
    env_file:
      - .env
    environment:
      DB_HOST: ${USER_DB_HOST}
      DB_PORT: ${USER_DB_PORT}
      DB_USER: ${USER_DB_USER}
      DB_PASS: ${USER_DB_PASS}
      DB_NAME: ${USER_DB_NAME}

volumes:
  user-db-volume:
